<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">GASTOS</h2>
    </div>
    <div class="card-body p-3">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <app-ingresar-gasto></app-ingresar-gasto>
        </div>
        <div class="col-lg-6 col-sm-12">
          <app-listar-gasto></app-listar-gasto>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">Create by Markos Sanchez</div>
  </div>
</div>
