<h4 class="text-center">Ingresar Gasto</h4>
<div *ngIf="formularioIncorrecto" class="text-center">
  <span class="badge bg-danger">{{ textIncorrecto | uppercase }}</span>
</div>
<div class="form-group mt-4">
  <label for="gasto">Gasto</label>
  <input
    type="text"
    class="form-control form-control-lg"
    name=""
    id="gasto"
    placeholder="Ej: Comida..."
    [(ngModel)]="nombreGasto"
  />
</div>
<div class="form-group mt-4">
  <label for="cantidad">Cantidad</label>
  <input
    type="number"
    class="form-control form-control-lg"
    name=""
    id="gasto"
    placeholder="Ingresa la cantidad"
    [(ngModel)]="cantidad"
  />
  <button
    class="btn btn-success btn-lg btn-block mt-4"
    (click)="agregarGasto()"
  >
    Agregar Gasto
  </button>
</div>
